
 <div class="content-wrapper py-3">

    <h2 class="text-center text-lg text-uppercase my-0"><strong> Salas </strong></h2>
    <br>
    <br>

    <div class="container-fluid">

 	<%= render 'form', reserva: @reserva %>

 	</div>

 </div>
