<h1>Editing Student</h1>



<%= render 'form', student: @student, :class => 'class="col-sm-3 col-md-6 col-lg-4">' %>



<%= link_to 'Mostrar', @student, :class=>"col-sm-3 col-md-6 col-lg-4", :class => "btn btn-outline-info"%> 
<%= link_to 'Voltar', students_path, :class => "btn btn-outline-secondary"%>

