<h1>Editing Student</h1>



<%= render 'form', student: @student %>



<%= link_to 'Mostrar', @student, :class => "btn btn-outline-info"%> 
<%= link_to 'Voltar', students_path, :class => "btn btn-outline-secondary"%>

