
<div class="container">

<table class="table">

<tbody>
    <tr>
      <td><%= link_to user.name, user %></td> 
      <td><%= link_to user.email, user %></td>
      <td><%= link_to 'Aprovar', approve_user_path(user_receive: user.id), method: :approve_user %></td>
      <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
</tbody>

</table>

</div>