
<div class="container">

        <div class="bg-faded p-4 my-4">
            
            <h2 class="text-center text-lg text-uppercase my-0"><strong> Criar Reserva </strong></h2>
            <br>
            <br>         
           
         <div class="content-wrapper py-3">
            <div class="container-fluid">

            <!-- Icon Cards -->
            <div class="row">


                <% @salas.each do |sala| %>
                
                  <% if sala.status==false %>

                    <div class="col-xl-3 col-sm-6 mb-3">
                      <div class="card card-inverse card-success o-hidden h-100">
                      
                            <span class="float-left"> <%= sala.id %> </span>
                        </a>
                      </div>
                    </div>

                  <% else %>

                    <div class="col-xl-3 col-sm-6 mb-3">
                       <div class="card card-inverse card-danger o-hidden h-100">                      
                        
                              <span class="float-left"><%= sala.id %></span>
                          </a>
                      </div>
                    </div>

                  <% end %>

                <% end %>


            </div>
          </div>
        </div>

<%= link_to 'Nova Sala', new_sala_path, :class => "btn btn-outline-primary"%>