<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sala.number %>
</p>

<p>
  <strong>Status:</strong>
  <% if @sala.status? %>
  Ocupada
  <% else %>
  Livre
  <% end %>
</p>

<%= link_to 'Editar', edit_sala_path(@sala), :class =>"btn btn-outline-warning" %> |
<%= link_to 'Voltar', salas_path, :class =>"btn btn-outline-secondary" %>
